<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>saveMember</title>
</head>
<body>
<!--action 속성 : form에 작성한 데이터를 어디로 보낼지 지정-->
<p>Post 방식</p>
<form action="/member/save" method="post">
    이메일: <input type="text" name="memberEmail"> <br>
    아이디: <input type="text" name="memberId"> <br>
    비밀번호: <input type="password" name="memberPassword"> <br>
    <input type="submit" value="회원가입">
<!--    type="submit" 을 통해 form에 데이터를 담아서 서버에게 전송된다. -->
</form>
<p>Get 방식</p>
<form action="/member/save1" method="get">
    이메일: <input type="text" name="memberEmail"> <br>
    아이디: <input type="text" name="memberId"> <br>
    비밀번호: <input type="password" name="memberPassword"> <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>